<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
<div
        style="
        display: flex;
        flex-direction: column;
        width: 100%;
        font-family: Poppins, sans-serif;
        color: #8b8b8b;
        background-color: #fff5ed;
      "
>
    <div style="display: flex; flex-direction: row; height: 100px">
        <div style="background: #158f67; opacity: 0.5; flex: 1"></div>
        <div style="background: #e9b929; opacity: 0.5; flex: 1"></div>
        <div style="background: #fd4c42; opacity: 0.5; flex: 1"></div>
        <div style="background: #396dc4; opacity: 0.5; flex: 1"></div>
        <img
                src="https://sem33proj.blob.core.windows.net/attachments/a4370000-3a9b-000d-7d3c-08dbadbe1ad8"
                alt=""
                style="position: absolute; width: 80px; height: 80px; margin: 10px"
        />
    </div>
    <div style="padding: 1% 10%">
        <h2 style="color: #fd645b">Dear [[Recipient_Name]],</h2>
        <p>
            We are pleased to inform you that our application to volunteer in the [[Program_Name]] program has been approved!
        </p>

        <p>
            Congratulations on being selected to join our team of volunteers. Your willingness to devote your time and effort to our cause is truly commendable and we are delighted to have you on board.
        </p>
        <p>
            More detailed information about the program plan is as follows:
        </p>
        <p>
[[Note]]
        </p>
        <p>

            Once again, thank you for your commitment to making a difference in our community. We look forward to working with you and achieving great things together.        </p>
        <p>
            <b><i>Best regards,</i></b>
        </p>
        <p>
            <b><i>Give-AID</i></b>
        </p>
    </div>
</div>
</body>
</html>
