<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
<div
        style="
        display: flex;
        flex-direction: column;
        width: 100%;
        font-family: Poppins, sans-serif;
        color: #8b8b8b;
        background-color: #fff5ed;
      "
>
    <div style="display: flex; flex-direction: row; height: 100px">
        <div style="background: #158f67; opacity: 0.5; flex: 1"></div>
        <div style="background: #e9b929; opacity: 0.5; flex: 1"></div>
        <div style="background: #fd4c42; opacity: 0.5; flex: 1"></div>
        <div style="background: #396dc4; opacity: 0.5; flex: 1"></div>
        <img
                src="https://sem33proj.blob.core.windows.net/attachments/a4370000-3a9b-000d-7d3c-08dbadbe1ad8"
                alt=""
                style="position: absolute; width: 80px; height: 80px; margin: 10px"
        />
    </div>
    <div style="padding: 1% 10%">
        <h2 style="color: #fd645b">Dear [[Recipient_Name]],</h2>
        <p>
            We would like to express our heartfelt gratitude for registering an account on our software platform. Thank you for choosing to join us!
        </p>

        <p>Here's your link active account:</p>
        <a href=[[Link_Active]]>Link here</a>

        <p>
            Thank you once again for choosing to be a part of Give-AID. We look
            forward to working alongside you and creating a brighter future for
            all.
        </p>
        <p>
            <b><i>With deep gratitude,</i></b>
        </p>
        <p>
            <b><i>Give-AID</i></b>
        </p>
    </div>
</div>
</body>
</html>
