<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
<div
        style="
        display: flex;
        flex-direction: column;
        width: 100%;
        font-family: Poppins, sans-serif;
        color: #8b8b8b;
        background-color: #fff5ed;
      "
>
    <div style="display: flex; flex-direction: row; height: 100px">
        <div style="background: #158f67; opacity: 0.5; flex: 1"></div>
        <div style="background: #e9b929; opacity: 0.5; flex: 1"></div>
        <div style="background: #fd4c42; opacity: 0.5; flex: 1"></div>
        <div style="background: #396dc4; opacity: 0.5; flex: 1"></div>
        <img
                src="https://sem33proj.blob.core.windows.net/attachments/a4370000-3a9b-000d-7d3c-08dbadbe1ad8"
                alt=""
                style="position: absolute; width: 80px; height: 80px; margin: 10px"
        />
    </div>
    <div style="padding: 1% 10%">
        <h2 style="color: #fd645b">Dear [[Recipient_Name]],</h2>
        <P>
            I hope this email finds you well.
        </P>
        <p>
            I am writing to inform you that your charity organization's application for support has been successfully reviewed and approved by our team. We are thrilled to announce that your organization has been selected to receive assistance from our program.
        </p>
        <p>
            As part of the approval process, we have created an account for your charity organization in our system. This account will serve as a platform for managing your assistance requests, tracking donations, and accessing resources provided by our program.
        </p>
        <p>Below are the login credentials for your organization's account:</p>
        <p>
            Username: [[Partner_Account]]
        </p>
        <p>
            Username: [[Password]]
        </p>
        <p>
            Please use the provided credentials to log in to your account at <a href="http://localhost:3000/login">here</a>. Upon logging in for the first time, you will be prompted to change your password for security purposes. If you encounter any difficulties during the login process or have any questions about your account, please feel free to reach out to us, and we will be more than happy to assist you.
        </p>
        <p>
            We are excited about the opportunity to support your noble cause and look forward to working closely with your organization to make a positive impact in our community.
        </p>
        <p>
            Thank you for your dedication to making a difference, and we wish you continued success in your charitable endeavors.
        </p>
        <p>
            <b><i>Warm regards,</i></b>
        </p>
        <p>
            <b><i>Give-AID</i></b>
        </p>
    </div>
</div>
</body>
</html>
