<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
<div
        style="
        display: flex;
        flex-direction: column;
        width: 100%;
        font-family: Poppins, sans-serif;
        color: #8b8b8b;
        background-color: #fff5ed;
      "
>
    <div style="display: flex; flex-direction: row; height: 100px">
        <div style="background: #158f67; opacity: 0.5; flex: 1"></div>
        <div style="background: #e9b929; opacity: 0.5; flex: 1"></div>
        <div style="background: #fd4c42; opacity: 0.5; flex: 1"></div>
        <div style="background: #396dc4; opacity: 0.5; flex: 1"></div>
        <img
                src="https://sem33proj.blob.core.windows.net/attachments/a4370000-3a9b-000d-7d3c-08dbadbe1ad8"
                alt=""
                style="position: absolute; width: 80px; height: 80px; margin: 10px"
        />
    </div>
    <div style="padding: 1% 10%">
        <h2 style="color: #fd645b">Dear [[Recipient_Name]],</h2>
        <p>
            We hope this email finds you well.        </p>

        <p>
            We are writing to inform you that a new password has been successfully generated for your account, as per your request for password reset.        </p>
        <p>
            Your new password is: [[New_Password]]        </p>
        <p>
            Click <a href="http://localhost:3000/changer-password">here</a>  to changer password.
        </p>
        <p>
            Please ensure to keep this password secure and confidential. We recommend that you log in to your account using the provided password and change it to something more memorable as soon as possible.
        </p>
        <p>

            If you did not request a password reset or have any concerns regarding the security of your account, please contact us immediately.        <p>
            <b><i>Best regards,</i></b>
        </p>
        <p>
            <b><i>Give-AID</i></b>
        </p>
    </div>
</div>
</body>
</html>
