<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
<div
        style="
        display: flex;
        flex-direction: column;
        width: 100%;
        font-family: Poppins, sans-serif;
        color: #8b8b8b;
        background-color: #fff5ed;
      "
>
    <div style="display: flex; flex-direction: row; height: 100px">
        <div style="background: #158f67; opacity: 0.5; flex: 1"></div>
        <div style="background: #e9b929; opacity: 0.5; flex: 1"></div>
        <div style="background: #fd4c42; opacity: 0.5; flex: 1"></div>
        <div style="background: #396dc4; opacity: 0.5; flex: 1"></div>
        <img
                src="https://sem33proj.blob.core.windows.net/attachments/a4370000-3a9b-000d-7d3c-08dbadbe1ad8"
                alt=""
                style="position: absolute; width: 80px; height: 80px; margin: 10px"
        />
    </div>
    <div style="padding: 1% 10%">
        <h2 style="color: #fd645b">Dear [[Recipient_Email]],</h2>
        <P>
            I hope this email finds you well.
        </P>
        <p>
            I am writing to inform you that [[Send_Name]] has shared an inspiring charity program with you. The program, known as [[Program_Name]]. It's a wonderful initiative that I believe you may find meaningful and worthy of your support.
        </p>
        <p>
            To learn more about [[Program_Name]] and how you can get involved, please click  <a href=[[Url]]>here</a>. Your participation, whether through donations, volunteering, or spreading awareness, can make a real difference in the lives of others.
        </p>
        <p>
            Thank you for considering joining us in this noble cause.
        </p>
        <p>
            <b><i>Best regards,</i></b>
        </p>
        <p>
            <b><i>Give-AID</i></b>
        </p>
    </div>
</div>
</body>
</html>
